@import "shared/styles/colors";
@import "shared/styles/global";

.Header {
  display: flex;
  flex-direction: column;
  a {
    @extend .Link;
  }
}

.Nav {
  display: flex;

  ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    gap: 1rem;
    padding: 0.5rem 1rem;
    justify-content: center;

  li {
      display: flex;
    }
  }
}